@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5EFEB;
}

#scrollToTopBtn:hover {
    background-color:#567C8D;  
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #2F4156;
    text-align: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #567C8D; 
    text-align: center;
}

h3 {
    color: #2F4156;
}

p {
    color:  #2F4156; 
}

.header {
    background-color: #C8D9E6;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;  
    text-align: center; 

}

.navbar {
    width: 100%;
    height: 40px;
    background-color: #2F4156;
    padding: 10px 0; 
    position: sticky; 
    top: 0; 
    z-index: 10; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
}

.navbar ul li {
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    justify-content: center; 
}

.navbar ul li a:hover {
    color: #567C8D; 
}



#nav-links {
    display: flex;
}


.section {
    padding: 60px 20px;
    text-align: center;
    justify-content: center;
}

.text-center {
    max-width: 600px; 
    margin: 0 auto; 
    text-align: center; 
    padding: 20px; 
    justify-content: center;
}

.text-center img {
    width: 400px;  
    height: 400px; 
    object-fit: cover; 
    border-radius: 50%; 
}
.btn {
    background-color:  #2F4156; 
    color: white; 
    font-weight: bold; 
    padding: 12px 24px; 
    border-radius: 8px; 
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
}


.btn:hover {
    background-color: #567C8D;  
}

.about-content {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 40px;
    gap: 30px; 
  }
  
  .about-text {
    flex: 1; 
    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    color: #333; 
  }
  
 
  
  .about-text p {
    font-size: 1.1rem; 
    text-align: justify; 
    margin-bottom: 20px;
  }
  
  
.about-photo {
    
    margin-top: 20px; 
    margin-left: 30px; 
  }
  .about-photo img {
    width: 100%; 
    width: 500px;
    height: 350px;
    border-radius: 10px;
    margin-top: 40px;
  }
  

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px; 
}

.project-card.btn{
    margin: 0 10px;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    text-align: center;
    transition: transform 0.3s;
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card h3 {
    font-size: 22px;
    margin: 15px 0 10px;
}

.project-card p {
    padding: 0 15px;
    font-size: 16px;
    color: #555;
}

.project-card a {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    color: white;
    background-color: #567C8D;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.project-card a:hover {
    background-color:  #2F4156;
}

.project-card:hover {
    transform: translateY(-5px);
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #567C8D;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-btn:hover {
    background-color:  #2F4156; 
}

.filter-btn.active {
    background-color: #007bff;
    color: white;
}

  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.progress-bar {
    background-color: #f3f3f3; 
    border-radius: 8px; 
    margin: 10px 0; 
    position: relative; 
}

.progress {
    height: 20px; 
    background-color: #4caf50; 
    border-radius: 8px; 
    width: 100%; 
}

.progress span {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    line-height: 20px; 
    color: #2F4156;
    justify-content: center;
    font-weight: bold;
}

.contact-form {
    background-color: #567C8D;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.contact-form h3 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    width: 100%; 
}

.contact-form input, .contact-form textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #C8D9E6;
    font-size: 16px;
}

.cbuton[type="submit"] {
    background-color: #2F4156;
    color: #F5EFEB;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto; 
    padding: 10px 30px; 
}

.cbuton[type="submit"]:hover[type="submit"]:hover {
    background-color: #e0e0e0;
    color: #2F4156;
    font-weight: bold;
}

.progress-bar-container {
    padding: 20px;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 25px;
    margin: 10px 0;
    height: 30px;
}

.progress {
    background-color: #567C8D; 
    height: 100%;
    border-radius: 25px;
    text-align: center;
    line-height: 30px; 
    color: #fff; 
}

.container {
    display: flex; 
    gap: 20px; 
    padding: 20px; 
    justify-content: space-between; 
    margin-bottom: 40px;
}

.contact-form{
    margin-bottom: 45px;
}

.event-manager {
    display: flex;
    flex-direction: column; 
    padding: 20px;
  }
  
  .event-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
  }
  
  .event-form, .event-list {
    width: 48%;
  }
  
  h2 {
    text-align: center; 
    margin-bottom: 20px;
  }
  
  
  .event-form, .event-list {
    flex: 1;
  }
  
  .event-list ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .event-list li {
    background-color:  #567C8D; 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .event-list ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
  }
  
  .event-details {
    flex-grow: 1;
  }
  
  .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #2F4156;  
    font-size: 20px;
    padding: 0;
    margin-left: 10px;
  }
  .error{
    color: #ED4337
  }
  .delete-btn:hover {
    color: darkred;
  }
  
footer {
    background-color: #2F4156;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

footer .social-links img {
    margin: 0 5px; 
  }

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  

  .popup-container {
    background: #F5EFEB;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: 500px;
    max-width: 90%; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
 
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
 .popup-title{
    font-size: 35px;
    font-weight: bold;
 }
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  

  .popup-body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
  }
  
  .popup-img {
    max-width: 300px;
    height: auto;
    height: 200px;

  }
  
@media (max-width: 768px) {
    h1, h2 {
        font-size: 2.5rem; 
    }
    .navbar ul {
        flex-direction: column; 
    }
}


.project-card {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px); 
}

@media (max-width: 768px) {
    .project-card {
        flex: 1 1 calc(100% - 20px); 
        max-width: calc(100% - 20px); 
    }
}


.btn {
    padding: 8px 16px; 
}





.event-input {
    max-width: 100%;
}


.calendar-body li {
    width: calc(100% / 7);
}

@media (max-width: 600px) {
    @media (max-width: 768px) {
        .calendar,
        .event-form {
            width: 100%; 
        }
    }
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }
  
  .modal-body img {
    width: 400px; 
    height: 200px; 
    object-fit: cover; 
    margin-bottom: 15px; 
  }
  
  .modal-body p {
    margin: 5px 0; 
  }
  
  .modal-body a {
    color: #88bbf1; 
    text-decoration: none;
  }
  
  .modal-body a:hover {
    text-decoration: underline; 
  }
  
  .modal-footer {
    justify-content: center; 
  }
  #scrollToTopBtn {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    padding: 10px 15px; 
    background-color:#567C8D; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    display: none; 
    z-index: 1000; 
}

#scrollToTopBtn:hover {
    background-color:#79adc5;  
}

.delete-btn{
    color: black;
    cursor: 'pointer'
}
.delete-btn:hover{
    color: red;
}

.edit-btn{
    color: black;
    cursor: pointer;
}
.edit-btn:hover{
    color: white;
}
.edit-form {
    padding: 20px;
    background-color: whitesmoke;

  }
  .h3-edit{
    font-size: 35px;
  }
  .edit-input{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    cursor: pointer;
  }
  